@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* overflow-y: scroll; */
}
*::-webkit-scrollbar {
  display: none;
}
body{
  background-color: #f9f9f9;
  min-height: 100vh;
  /* overflow-x: hidden; */
}
.title{z-index: -1;}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 63%;
  padding: 30px 100px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  z-index: 3;
}

.logo{
  color: #359381;
  font-size: 2em;
  font-weight: 600;
}
.navigation{
  margin-left: 50%;
}
.navigation a{
  text-decoration: none;
  padding: 6px 15px;
  color: #359381;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover, 
.navigation a.active{
  background-color: #359381;
  color: white;
}

.parallax{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sec{z-index: 5;}
.title{z-index: 2;}

#text{
  position: absolute;
  font-size: 5em;
  color: white;
  text-shadow:2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.sec {
  position: relative;
  background-color: #003329;
  padding: 100px;
}
.sec h2{
  font-size: 3em;
  color: white;
  margin-bottom: 10px;
}
.sec p{
  color: white;
  font-size: 1em;
  font-weight: 300;
}
p{color: white;}